<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post:numeros primos </a></h2>
            <p>Segundo o site brasileiro 'SÓ MATEMATICA' números primos são os números naturais que têm apenas dois divisores diferentes: o 1 e ele mesmo.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post: estatistica</a></h2>
            <p>Segundo o site só matemática, estatística é uma ciência exata que visa fornecer subsídios ao analista para coletar, organizar, resumir, analisar e apresentar dados. </p>
    </body>
</html>